input.form-control {
  margin-bottom: 5px;
}

body {
  padding-top: 60px;
  padding-bottom: 58px;
}
nav.navbar{
  max-height: 32px;
}
span.glyphicon.glyphicon-chevron-left
{
margin-right:5px  ;
}

span.glyphicon.glyphicon-share-alt
 {
   padding-left:15px  ;
 }

span.glyphicon.glyphicon-eye-open
{
  padding-left:15px  ;
}

span.glyphicon.glyphicon-user
{
  margin-right: 15px;
}
div.widget-tool {
  position: absolute;
  right: 15px;
  background-color: white;
  padding-left: 5px;
  padding-bottom: 5px;
  border-bottom-left-radius: 8px;
  opacity:0.7;
}

a.thick {
  font-weight: bold;
}


