
<!--header-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!--back-->
    <p class="navbar-text pull-left">
      <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}" class="navbar-link ">
          <span class="glyphicon glyphicon-chevron-left ">
          </span>
      </a>
    </p>
    <!--name of the page-->

    <p class="navbar-header pull-left">
      <a class="navbar-brand thick" >
        Flickr Search
      </a>
    </p>


  </div>
</nav>
<!--header close-->

<!--FORM-->
<div class="container-fluid">


  <!--<div ng-show="model.error" class="alert alert-danger">-->
    <!--{{model.error}}-->
  <!--</div>-->
  <!--Name of the new application-->
  <!--Name-->
  <div class="input-group">
    <input ng-model="searchText" type="text" class="form-control" placeholder="Search Images">
    <span class="input-group-btn">
        <a ng-click="model.searchPhotos(searchText)" class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
  </div>
  <p>
  <div  class=row">
    <div ng-repeat="photo in model.photos.photo" class="col-xs-4">
      <p>
    <img ng-click="model.selectPhoto(photo)"
         width="100%" class="img-circle img-thumbnail" ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg"/>
  </p>
    </div>
    </div>
</p>
</div>

<!---footer-->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">

    <!--Link to Profile-->
    <div class="row navbar-text pull-right">

      <a href="#/user">
        <span class="glyphicon glyphicon-user "></span>
      </a>

    </div>

  </div>
</nav>
<!--footer close-->

