<!--header-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">


      <!--back-->
      <p class="navbar-text pull-left">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link ">
          <span class="glyphicon glyphicon-chevron-left ">
          </span>
        </a>
      </p>
        <!--name of the page-->

    <p class="navbar-header pull-left">
      <a class="navbar-brand thick" >
        Widget Edit
      </a>
    </p>

    <!--OK-->
    <p class="navbar-text pull-right">
      <a ng-click="model.updateWidget(model.widget)" class="navbar-link ">
          <span class="glyphicon glyphicon-ok ">
          </span>
      </a>

    </p>

  </div>
</nav>
<!--header close-->

<!--FORM-->
<div class="container">
  <div ng-show="model.error" class="alert alert-danger">
    {{model.error}}
  </div>

  <div ng-show="model.err" class="alert alert-danger">
    {{model.err}}
  </div>
  <!--Name of the new application-->
  <form name="widget" novalidate>
    <div class="form-group">
      <label for="post name">
        Name
      </label>
      <input ng-model="model.widget.name"
        type="text"
        class="form-control"
        id="post name"
        placeholder="heading name" required>
      <p ng-show="model.err" >
        {{model.err}}
      </p>
    </div>

    <!--Text-->
    <div class="form-group">
    <label for="text">
      text
    </label>
    <input ng-model="model.widget.text"
      type="text"
      class="form-control"
      id="text"
      placeholder="GIZMODO">
  </div>

    <!---header size-->
    <div class="form-group">
      <div class="form-group">
        <label for="head-size">Size</label>
        <select ng-model="model.widget.size"
          class="form-control" id="head-size">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
        </select>
      </div>
    </div>
    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget(model.widgetId)">Delete</a>

  </form>
</div>
<!---footer-->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">

    <!--Link to Profile-->
    <div class="row navbar-text pull-right">

      <a href="#/user">
        <span class="glyphicon glyphicon-user "></span>
      </a>

    </div>
  </div>
</nav>
<!--footer close-->

