

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">

    <p class="navbar-text pull-left">
      <a href="#/manager" class="navbar-link ">
          <span class="glyphicon glyphicon-chevron-left ">
          </span>
      </a>
    </p>

    <p class="navbar-header">
      <a
        class="navbar-brand thick"
      >
        Manage Slots
      </a>
    </p>



  </div>
</nav>
<div class="container">
<br/>
  <div ng-show="model.match" class="alert alert-danger">
   <p>Slot already available </p>
  </div>

  <div ng-show="model.notMatch" class="alert alert-success">
    <p>Slot Added </p>
  </div>

  <div ng-show="model.err" class="alert alert-danger">
    <p>Please submit date </p>
  </div>

  <div ng-show="model.dateerr" class="alert alert-danger">
    <p>Date is mandatory </p>
  </div>
  <div ng-show="model.Timeerr" class="alert alert-danger">
    <p>Time is mandatory </p>
  </div>



  <form>
    <div class="form-group">
      <h4><b>Date</b></h4>
      <input type="date" ng-model="model.date" class="form-control">
      </div>
    <a class="btn btn-primary"
       ng-click="model.addDate(model.date,model.slotId)">Submit Date</a>
    </form>

  <div>

    <h4><b>Slots</b></h4>
<select ng-model="model.slot"  class="form-control">
  <option>09:00</option>
  <option>09:30</option>
  <option>10:00</option>
  <option>10:30</option>
  <option>11:00</option>
  <option>11:30</option>
  <option>12:00</option>
  <option>13:00</option>
  <option>13:30</option>
  <option>14:30</option>
  <option>15:00</option>
  <option>15:30</option>
  <option>16:00</option>
  <option>16:30</option>
  <option>17:30</option>
  <option>18:00</option>
  <option>18:30</option>
  <option>19:00</option>
</select>

  </div>
<div>
  <p>
    <a ng-click="model.insertSlot(model.date,model.slot)" class="btn btn-danger">
      Add Slot
    </a>
    </p>
  </div>

<ul class="list-group" ng-repeat="slot in model.slots">
  <li class="list-group-item">{{slot.slot}} <a ng-click="model.deleteSlot(slot,model.date,slot._id)">
    <span class="glyphicon glyphicon-remove pull-right red"></span></a></li>
</ul>

  </div>

<!--<nav class="navbar navbar-default navbar-fixed-bottom">-->
  <!--<div class="container">-->
    <!--<div class="row navbar-text pull-right">-->

      <!--<a href="#/manager">-->
        <!--<span class="glyphicon glyphicon-user"></span>-->
      <!--</a>-->

    <!--</div>-->
  <!--</div>-->
<!--</nav>-->

