<nav class="navbar navbar-inverse navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
  <div class="container">

    <p class="navbar-header pull-left">
      <a ng-click="model.back()" class="navbar-brand thick">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <p class="navbar-header pull">
      <a
        class="navbar-brand thick">
       My Reservations
      </a>
    </p>



  </div>
</nav>
<div class="container">
<div class="table-responsive">
<table class="table table-hover table-striped">
  <thead class="thead-inverse">
  <tr>
  <th>User Name</th>
  <th>Restaurant Name</th>
  <th>Location</th>
  <th>Date</th>
  <th>Time</th>
  <th>No.of People</th>
  <th>Phone Number</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="reservation in model.reservations">
    <div ng-show="model.error">
    <td>{{reservation.username}}</td>
    <td>{{reservation.restaurantName}}</td>
      <td>{{reservation.location}}</td>
      <td ng-bind="reservation.date | date:'mediumDate'"></td>
    <td>{{reservation.time}}</td>
    <td>{{reservation.noOfPeople}}</td>
    <td>{{reservation.phone}}</td>
   <td> <a ng-click="model.deleteReservation(reservation._id)">
      <span class="glyphicon glyphicon-remove red"></span>
    </a>
   </td>
    </div>
  </tr>
  </tbody>


  </table>
  </div>

</div>


