


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">

    <p class="navbar-text pull-left">
      <a href="#/user" class="navbar-link ">
          <span class="glyphicon glyphicon-chevron-left ">
          </span>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a
        class="navbar-brand thick">
        My favourites
      </a>
    </p>




  </div>
</nav>
<div class="container">
  <br/>
  <ul class="list-group" ng-repeat="favRestaurant in model.favRestaurants">
  <li class="list-group-item">
    <a href="#/location/{{favRestaurant.location}}/{{favRestaurant.rId}}">
    {{favRestaurant.restaurantName}}</a>
    <a ng-click="model.removeFavourites(favRestaurant)">
    <span class="glyphicon glyphicon-remove pull-right red"></span>
      </a>
  </li>

</ul>
</div>

