<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <p class="navbar-header pull-left">
      <a href="#/loggedIn" class="navbar-brand thick">
        <span class="glyphicon glyphicon-home"></span>
      </a>
    </p>

    <p class="navbar-header ">
      <a class="navbar-brand thick">
        Reservation
      </a>
    </p>


  </div>
</nav>

<!--------------------------->
<div class="container">
  <form>
<div class="form-group">
  <span class="label label-default">Date</span>
  <input type="date" ng-model="model.reservation.date" class="form-control">
  <a class="btn btn-primary"
     ng-click="model.fetchSlots(model.reservation.date)">Submit Date</a>
  <!--<div>    -->
  <!--<ng-datepicker ng-model="model.reservation.date1" class="responsive">-->
  <!--</ng-datepicker>-->
<!--</div>-->

  <div class="form-group">
  <div class="form-group">
    <span class="label label-default">No.of.People</span>
    <select ng-model="model.reservation.people"
            class="form-control">
      <option>01</option>
      <option>02</option>
      <option>03</option>
      <option>04</option>
      <option>05</option>
      <option>06</option>
      <option>07</option>
      <option>08</option>
      <option>09</option>
      <option>10</option>
    </select>
  </div>
</div>

  <span class="label label-default">Time</span>

  <select ng-show="model.dateAvailable" ng-model="model.reservation.time"
          class="form-control">
    <option ng-repeat="slot in model.slots">{{slot.slot}}</option>
  </select>
  <select ng-show="model.dateNotAvailable" ng-model="model.reservation.time"
          class="form-control">
    <option ng-repeat="slot in model.slots.slot">{{slot.slot}}</option>
  </select>



</div>
    </form>

  <button type="submit" ng-click="model.reserve(model.reservation,model.slot,model.restaurant)" class="btn btn-primary  btn-block">Reserve</button>

</div>
