<nav  class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-header pull-left">
        <a href="#/location/{{model.location}}/{{model.restaurantId}}" class="navbar-brand thick">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </p>
      <a class="navbar-brand thick" href="#/home"> RR  </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-inverse navbar-nav navbar-right">
        <li ng-show="!model.loggedIn"  ><a href="#/login">login as costumer</a></li>
        <li ng-show="!model.loggedIn" ><a href="#/managerLogin">login as manager</a></li>
      </ul>
      <ul class="nav navbar-inverse navbar-nav navbar-right">
        <li ng-show="model.loggedIn" ><a href="#/user">{{model.user.username}}</a></li>
        <li ng-show="model.loggedIn"><a ng-click="model.logout()"><span class="glyphicon glyphicon-log-out">
          </span></a></li>
      </ul>
    </div>

  </div>
</nav>

<!--------------------------->
<div class="container">
  <br/>
  <p><b>Note</b> You can only reserve a restaurant if there is a manager for this restaurant &</p>
  <p>Reservations shall be made one day in advance</p>
  <form>
<div class="form-group">
  <div ng-show="model.date" class="alert alert-danger" role="alert">
    <p>Sorry  time travel is not possible</p>
  </div>

  <h4><b>Date</b></h4>
  <input type="date" ng-model="model.reservation.date" class="form-control">
  <a class="btn btn-primary"
     ng-click="model.fetchSlots(model.reservation.date)">Submit Date</a>
  <!--<div>    -->
  <!--<ng-datepicker ng-model="model.reservation.date1" class="responsive">-->
  <!--</ng-datepicker>-->
<!--</div>-->

  <div class="form-group">
  <div class="form-group">
    <h4><b>No.of.people</b></h4>
    <select ng-model="model.reservation.people"
            class="form-control" required>
      <option>01</option>
      <option>02</option>
      <option>03</option>
      <option>04</option>
      <option>05</option>
      <option>06</option>
      <option>07</option>
      <option>08</option>
    </select>
  </div>
</div>

  <h4><b>Available Slots</b></h4>

  <select ng-show="model.dateAvailable" ng-model="model.reservation.time"
          class="form-control">
    <option ng-repeat="slot in model.slots">{{slot.slot}}</option>
  </select>
  <select ng-show="model.dateNotAvailable" ng-model="model.reservation.time"
          class="form-control">
    <option ng-repeat="slot in model.slots.slot">{{slot.slot}}</option>
  </select>



</div>
    </form>

  <button type="submit" ng-click="model.reserve(model.reservation,model.slot,model.restaurant)" class="btn btn-primary  btn-block">Reserve</button>

</div>
