
<!--header-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--back-->
    <p class="navbar-text pull-left">
      <a href="#/website-list" class="navbar-link ">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
      </p>
    <!--name of the page-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick"
         href="#">
        Pages
      </a>
    </p>

    <!--Add new page-->
    <p class="navbar-text pull-right">
      <a href="page-new.html"
         class="navbar-link ">
          <span class="glyphicon glyphicon-plus ">
          </span>
      </a>

    </p>

  </div>
</nav>
<!--header close-->


<!--LIST-->

<div class="container">

  <!--Name-->
  <p>
    <a href="../widgets/widget-list.html">
      Blog Post
    </a>

    <!--EDIT-->
    <a href="page-edit.html">
      <span class="glyphicon glyphicon-pencil pull-right "></span>
    </a>
  </p>

  <p>
    <!--Name-->
    <a href="../widgets/widget-list.html">
     Blogs
    </a>

    <!--EDIT-->
    <a href="page-edit.html">
      <span class="glyphicon glyphicon-pencil pull-right "></span>
    </a>
  </p>


  <p>
    <!--Name-->
    <a href="../widgets/widget-list.html">
      Home
    </a>

    <!--EDIT-->
    <a href="page-edit.html">
      <span class="glyphicon glyphicon-pencil pull-right"></span>
    </a>
  </p>

  <p>
    <!--Name-->
    <a href="../widgets/widget-list.html">
      About
    </a>

    <!--EDIT-->
    <a href="page-edit.html">
      <span class="glyphicon glyphicon-pencil pull-right "></span>
    </a>
  </p>


  <p>
    <!--Name-->
  <a href="../widgets/widget-list.html">
 Contact us
  </a>

  <!--EDIT-->
  <a href="page-edit.html">
    <span class="glyphicon glyphicon-pencil pull-right "></span>
  </a>
  </p>
  </div>


<!--footer-->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row navbar-text pull-right">
      <!--Profile-->
      <a href="../views/user/profile.html">
        <span class="glyphicon glyphicon-user "></span>
      </a>

    </div>
  </div>
</nav>
<!--footer close-->
