
<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
  <!--<div class="container">-->
    <!--<p class="navbar-header pull-left">-->
      <!--<a  class="navbar-brand thick">-->
        <!--Restaurant Reservation-->

      <!--</a>-->
    <!--</p>-->


    <!--<p class="navbar-text pull-right">-->


      <!--<a href="#/login">Login as Customer</a>-->
      <!--&lt;!&ndash;<a ng-click="model.updateUser(model.user)" class="navbar-link ">&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="glyphicon glyphicon-ok ">&ndash;&gt;-->
          <!--&lt;!&ndash;</span></a>&ndash;&gt;-->
    <!--</p>-->
    <!--<p class="navbar-text pull-right">-->
      <!--<a href="#/login">Login as Manager</a>-->
      <!--&lt;!&ndash;&lt;!&ndash;<a ng-click="model.updateUser(model.user)" class="navbar-link ">&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<span class="glyphicon glyphicon-ok ">&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;</span>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;</p>&ndash;&gt;-->
  <!--</div>-->
<!--</nav>-->
<nav  class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand thick" href="#/home"> RR  </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="currentuser"><a href="#/login">login as costumer</a></li>
        <li ng-hide="currentuser"><a href="#/login">login as manager</a></li>


      </ul>
    </div>

  </div>
</nav>


<!---------Restaurant Search-------->
<div>
  <div class="input-group">
    <input ng-model="model.searchRestaurant" type="text" class="form-control" placeholder="Location">
    <span class="input-group-btn">
        <a ng-click="model.findRestaurants(model.searchRestaurant)" class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search"></span>

        </a>
    </span>
  </div>

</div>
