
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <p class="navbar-header pull-left">
      <a
        class="navbar-brand thick"
      >
        Profile
      </a>
    </p>
    <p class="navbar-text pull-right">
      <a href="#/loggedIn" class="navbar-link ">
          <span class="glyphicon glyphicon-home ">
          </span>
      </a>
    </p>


  </div>
</nav>


<ul class="list-group">
  <li class="list-group-item"><a href="#/manager/reservations">Reservations</a></li>
  <li class="list-group-item"><a href="">Messages</a></li>
  <li class="list-group-item"><a href="#/manager/slots">Manage Slots</a></li>

</ul>

<a class="btn btn-danger  btn-block"
   ng-click="model.logout()">Logout</a>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row navbar-text pull-right">

      <a href="#/user">
        <span class="glyphicon glyphicon-user"></span>
      </a>

    </div>
  </div>
</nav>

