


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <p class="navbar-text pull-left">
      <a href="#/manager" class="navbar-link ">
          <span class="glyphicon glyphicon-chevron-left ">
          </span>
      </a>
    </p>
    <p class="navbar-header pull-left">
      <a
        class="navbar-brand thick">
         Reservations
      </a>
    </p>

  </div>
</nav>
<div class="container">
  <br/>

  <p><b>Filter by users</b></p>
  <p>
  <div class="input-group">
    <input ng-model="model.username" type="text" class="form-control" placeholder="subbu">
    <span class="input-group-btn">
        <a ng-click="model.searchUser(model.username)" class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
  </div>
  </p>
<div class="table-responsive">
  <table class="table table-hover ">
    <tr>
      <thead class="thead-inverse">
    <th>User Name</th>
    <th>Restaurant Name</th>
    <th>Location</th>
    <th>Date</th>
    <th>Time</th>
    <th>No.of People</th>
    <th>Phone Number</th>
    </tr>
      </thead>
    <tr ng-repeat="reservation in model.reservations">
      <div ng-show="model.error">
        <td>{{reservation.username}}</td>
        <td>{{reservation.restaurantName}}</td>
        <td>{{reservation.location}}</td>
        <td ng-bind="reservation.date | date:'mediumDate'"></td>
        <td>{{reservation.time}}</td>
        <td>{{reservation.noOfPeople}}</td>
        <td>{{reservation.phone}}</td>
        <td> <a ng-click="model.deleteReservation(reservation._id)">
          <span class="glyphicon glyphicon-remove red"></span>
        </a>
        </td>
      </div>
    </tr>


  </table>
  </div>

</div>


