
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <p class="navbar-header pull-left">
      <a
        class="navbar-brand thick"
      >
       DashBoard
      </a>
    </p>



  </div>
</nav>


<ul class="list-group">
  <li class="list-group-item"><a href="#/manager/reservations">Reservations</a></li>
  <li class="list-group-item"><a href="#/manager/messages">Messages ({{model.messageNumber}})
    <span class="glyphicon glyphicon-envelope pull-right blue"></span></a></li>
  <li class="list-group-item"><a href="#/manager/slots">Manage Slots
    <span class="glyphicon glyphicon-transfer pull-right blue"></span></a></li>

</ul>

<a class="btn btn-danger  btn-block"
   ng-click="model.logout()">Logout</a>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row navbar-text pull-right">

      <a href="#/manager">
        <span class="glyphicon glyphicon-user"></span>
      </a>

    </div>
  </div>
</nav>

