
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <p class="navbar-header pull-left">
      <a
        class="navbar-brand thick">
       DashBoard
      </a>
    </p>


    <p class="navbar-header pull-right">
      <a href="#/manager">
        <span class="glyphicon glyphicon-user"></span>
      </a>

    </p>


  </div>
</nav>

<div class="container">
<h2><b>{{model.reservations[0].restaurantName}}</b></h2>
<ul class="list-group">
  <p>
  <li class="list-group-item"><a href="#/manager/reservations">Reservations  ({{model.reservationsLength}})</a></li>
  </p>
  <p>
  <li class="list-group-item"><a href="#/manager/messages">Messages ({{model.messageNumber}})
    <span class="glyphicon glyphicon-envelope pull-right blue"></span></a></li>
  </p>
  <p>
  <li class="list-group-item"><a href="#/manager/slots">Manage Slots
    <span class="glyphicon glyphicon-transfer pull-right blue"></span></a></li>
  </p>
</ul>

<a class="btn btn-danger  btn-block"
   ng-click="model.logout()">Logout</a>
</div>

