<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <p class="navbar-header pull-left">
      <a href="#/home" class="navbar-brand thick">
        <span class="glyphicon glyphicon-home"></span>
      </a>
    </p>

  </div>
</nav>

<!--------------------------------------->

<h1>Find Restaurants </h1>

<p>
<div class="input-group">
  <input ng-model="model.searchRestaurant" type="text" class="form-control" placeholder="Location">
    <span class="input-group-btn">
        <a ng-click="model.findRestaurantsByLocation(model.searchRestaurant)" class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search"></span>

        </a>
    </span>
</div>



  <div class="container">
  <div class="row">
<div ng-repeat="restaurant in model.businesses" class="col-sm-3">
  <p>
  <h6><a ng-click="model.findRestaurantById(restaurant.id)" class="thick">{{restaurant.name}}</a></h6>

  <img ng-src={{restaurant.image_url}} class="img-thumbnail">
  <h6> Phone:{{restaurant.display_phone}}</h6>
  <img ng-src={{restaurant.rating_img_url_small}}>
  </p>
  </div>
</div>


</div>
</div>
